body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../../images/background/3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.dropdown_data_window {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    margin: 17px 58px;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}
.msgDesign{
    height: 56%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.otherMsg{
    font-family: cursive;
    margin-bottom: 2px;
    background-color: #2ecc71;
    border: 1px solid #000;
    border-radius: 5px;
    border-color: #298069;
    padding: 5px 10px;
    display: inline-block;
    color: #ffffff;
}
.ownerMsg{
    font-family: cursive;
    float: right;
    margin-bottom: 2px;
    background-color: #3498db;
    border: 1px solid #000;
    border-radius: 5px;
    border-color: #006633;
    padding: 5px 10px;
    display: inline-block;
    color: #ffffff;
}
.btnStyle{
    height: 50px;
    width: 78px;
    font-family: cursive;
    margin-top: 3px;
    float: right;
}
.loaded_conversations {
    max-height: 450px;
    overflow-y: scroll;
}

.user_found_messages {
        border-bottom: 1px solid #D3D3D3;
        padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
        background-color: #D3D3D3;
}

.user_found_messages img {
        height: 35px;
        float: left;
}
#grey {
        color: #8C8C8C;
}


.notification_badge {
	padding: 3px 7px;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 24px;
	top: 7px;
}

.resultDisplayNotification {
	height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}
